{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        <label class="form-label">Ingredients</label>
        <input type="text" class="form-control" name="ingredientName">
    </div>
    <button type="submit" value="submit">Submit</button>
</form>
{{/block}}
{{/extends}}