<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>index.hbs template file</title>
</head>
<body>
    <h1>Hello, this is Express handlebars template file</h1>
    <h3>We can also include images in our hbs file</h3>
    <img src="kitten.jpg">

</body>
</html>