{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        
        <label class="form-label">Ingredient List</label>
        <input type="text" class="form-control" name="ingredientItem">
    </div>
    <input type="submit" value="Create new" class="btn btn-success btn-sm mt-3"/>

</form>

{{/block}}

{{/extends}}